.item {
    width: 33%;
    color: white;
    margin-top: 1.5%;
    margin-left: 1%;
    padding: 0.5%;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
}

.divContainerCard { 
    height: 80%;
}

.card {
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    height: 100%;
    margin: 2%;
    background-image: url("../../assets/img/fondoCard.png");
    border-radius: 10px;
    text-align: center;
    padding-top: 2%;
    justify-content: center;
}

.card h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}

.card p {
    margin: 10px 0;
    padding: 4%;
    font-size: 20px;
    font-weight: 200;
}

.counter {
    padding-bottom: 8%;
}

.counter button {
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px ;
}

.counter span {
    font-size: 20px ;
}


.counter div button {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 1%;
}

.linkP {
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px ;
}

.buttonItem {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1%;
    height: auto;
    max-width: 100%;
}

.divItem {
    margin: 10px 0;
    padding: 4%;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 13%;
}




