/***/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

nav {
  width: 90vh;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: black;
  height: 5vh;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  gap: 1%;
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  text-align: right;
  margin-right: 15px;
}

footer div p {
  font-weight: 400;
}

footer div a img {
  height: 25px;
}

main {
  background-image: url("./assets/img/FondoNegro.jpg");
  min-height: 90vh;
  width: 100%;
}

.backgroundHome {
  background-image: url("../src/assets/img/Cfondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.divH1 {
  padding-top: 13%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.divH1 h1 {
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-size: 150px;
  text-align: center;
  font-weight: 900;
  text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000;
  padding-top: 3%;
  padding-bottom: 2%;
}

.h2Servicios {
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
  text-align: center;
  font-weight: 900;
  text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000;
  padding-top: 3%;
  padding-bottom: 2%;
}

.h2Categorias {
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
  text-align: center;
  font-weight: 900;
  text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000;
  padding-top: 3%;
  padding-bottom: 2%;
}

