/***/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navBar {
    display: flex;
    justify-content: space-around;
}

.navBar li {
    list-style: none;
    display: flex;
    align-items: center;
}

.navBar li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    font-weight: 400;
}

.navBar li a:hover {
    color: white;
}

.navBar li:hover {
    transform: scale(1.1);
}

.logoCreando {
    height: 30px;
    padding-left: 10%;
    padding-top: 2%;
}

nav {
    width: 90vh;
}

.iconCart {
    height: 25px;
    width: 25px;
}

.contenedorServicios {
    text-decoration: none;
    font-weight: 400;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    width: 70%;
    font-family: 'Bebas Neue', cursive;
    padding: 2%;
    padding-left: 3% ;
}

.contenedorServicios h2 {
    margin-bottom: 2%;
    font-size: 26px;
}

.contenedorServicios div {
    padding-top: 2%;
    }

.contenedorServicios div ul li {
    text-decoration: none;
    list-style: none;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: black;
    height: 5vh;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap: 1%;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    text-align: right;
    margin-right: 15px;
}

footer div p {
    font-weight: 400;
}

footer div a img {
    height: 25px;
}

.logoCreando {
    height: 30px;
    padding-left: 10%;
    padding-top: 2%;
}

.redes {
    display: flex;
    justify-content: flex-end;
}

.logoinsta {
    height: 25px;
}

body {
    background-image: url("../src/assets/img/Cfondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}